@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-black text-white font-body;
    }
  }

  @layer components {
    .header-link {
      @apply flex items-center space-x-2 cursor-pointer;
    }
  
    .span {
      @apply relative uppercase text-sm font-medium before:bg-[#f9f9f9] before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 before:absolute before:transform before:origin-left before:scale-x-0 before:transition-all before:duration-200 group-hover:before:scale-x-100;
    }
  
    .animate {
      @apply cursor-pointer shadow-xl overflow-hidden hover:shadow-2xl transform hover:scale-105 transition duration-300;
    }

    .title {
      @apply text-white font-semibold text-2xl tracking-wider p-4;
    }
  }